In [49]:
import pandas as pd

# Define the URL
url = "https://www.phdstipends.com/csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(url)

# Save it locally as a CSV file
df.to_csv("phd_stipends.csv", index=False)

# Display the first few rows
df

,University,Department,Overall Pay,LW Ratio,Academic Year,Program Year,12 M Gross Pay,9 M Gross Pay,3 M Gross Pay,Fees,Comments
0,Rice University,Applied Physics,"$2,663",0.12,2025-2026,1st,"$3,333",NaN,NaN,$670,"Full funding, there is no tuition fee. The sti..."
1,University of California - Berkeley,Chemistry,"$47,000",1.69,2025-2026,1st,"$47,000",NaN,NaN,NaN,NaN
2,Georgia Institute of Technology (Georgia Tech),Chemistry,"$35,408",1.52,2025-2026,1st,"$37,500",NaN,NaN,"$2,092",Health insurance is 779/year
3,Sam Houston State University,Education,"$30,000",1.49,2025-2026,1st,"$30,000",NaN,NaN,NaN,NaN
4,Case Western Reserve University,Biomedical Engineering,"$39,834",1.99,2024-2025,2nd,"$40,000",NaN,NaN,$166,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16969,Duke University (DU),Biochemistry,"$29,840",1.59,2012-2013,6th and up,"$29,840",NaN,NaN,NaN,NaN
16970,University of Virginia (UVA),Chemical Engineering,"$32,000",1.63,2013-2014,4th,"$32,000",NaN,NaN,NaN,"This includes health insurance coverage, tuiti..."
16971,Duke University (DU),Biomedical Engineering,"$32,000",1.70,2013-2014,2nd,"$32,000",NaN,NaN,NaN,This is the stipend associated with the NSF Fe...
16972,University of Virginia (UVA),Chemical Engineering,"$25,000",1.28,2013-2014,4th,"$25,000",NaN,NaN,NaN,This stipend includes full health insurance co...
16973,Duke University (DU),Biomedical Engineering,"$27,850",1.48,2013-2014,6th and up,"$27,850",NaN,NaN,NaN,I just receive the base stipend in my departme...

In [50]:
df_recent = df[(df['Academic Year'] == '2023-2024') | (df['Academic Year'] == '2024-2025') | (df['Academic Year'] == '2022-2023')]

In [51]:
df_recent[df_recent['Department'] == 'Physics'].head(40)

,University,Department,Overall Pay,LW Ratio,Academic Year,Program Year,12 M Gross Pay,9 M Gross Pay,3 M Gross Pay,Fees,Comments
159,University of Chicago (UC),Physics,"$45,000",1.85,2024-2025,6th and up,"$45,000",NaN,NaN,NaN,NaN
205,University of Minnesota - Twin Cities (UM),Physics,"$28,000",1.22,2022-2023,1st,"$30,200",NaN,NaN,"$2,200",My fees are a bit more than average at UMN bec...
252,Boston University,Physics,"$40,000",NaN,2023-2024,1st,"$40,000",NaN,NaN,NaN,"Post-taxes, this comes to a monthly stipend of..."
375,University of Mississippi (Ole Miss),Physics,"$19,780",0.91,2023-2024,1st,NaN,"$18,000","$2,000",$220,NaN
380,University of California - Irvine (UCI),Physics,"$38,000",1.30,2024-2025,2nd,"$38,000",NaN,NaN,NaN,NaN
432,University of Alabama - Huntsville (UAH),Physics,"$19,500",0.92,2022-2023,1st,NaN,"$16,000","$4,000",$500,More fees (optional and mandatory) have been a...
434,North Carolina State University (NCSU),Physics,"$34,180",1.50,2024-2025,NaN,"$35,000",NaN,NaN,$820,NaN
545,Brandeis University,Physics,"$38,000",1.36,2024-2025,1st,"$38,000",NaN,NaN,NaN,NaN
546,"University of Geneva, Switzerland",Physics,"$57,435",NaN,2024-2025,1st,"$57,500",NaN,NaN,$65,This salary is paid by the Department of Quant...
718,Boston College (BC),Physics,"$33,000",1.18,2023-2024,NaN,"$33,000",NaN,NaN,NaN,NaN
777,University of California - Berkeley,Physics,"$46,000",1.66,2022-2023,NaN,"$46,000",NaN,NaN,NaN,NaN
789,Clemson University (CU),Physics,"$27,000",1.30,2022-2023,NaN,NaN,"$27,000",NaN,NaN,"Paid $27,000 for 9 months. Have to pay semeste..."
819,Temple University (TU),Physics,"$32,033",1.33,2023-2024,1st,"$33,333",NaN,NaN,"$1,300",Tax cuts are 451 per month. 80 is state and ci...
882,Washington University in St. Louis (Wash U),Physics,"$40,000",1.93,2024-2025,1st,"$40,000",NaN,NaN,NaN,NaN
966,University of Kentucky (UK),Physics,"$24,000",1.18,2024-2025,1st,NaN,"$24,000",NaN,NaN,NaN
1093,Boston University (BU),Physics,"$41,000",1.43,2024-2025,1st,"$41,000",NaN,NaN,NaN,NaN
1114,University of Arizona (U of A),Physics,"$26,000",1.25,2022-2023,1st,NaN,"$26,000",NaN,NaN,NaN
1137,Case Western Reserve University,Physics,"$37,000",1.85,2023-2024,5th,"$37,000",NaN,NaN,NaN,NaN
1173,Dartmouth College,Physics,"$40,000",1.61,2023-2024,NaN,"$40,000",NaN,NaN,NaN,NaN
1260,Cornell University (CU),Physics,"$44,080",1.82,2022-2023,5th,"$44,080",NaN,NaN,NaN,NaN
1329,California Institute of Technology (Caltech),Physics,"$-1,000",-0.04,2022-2023,1st,"$6,000",NaN,NaN,"$7,000",NaN
1402,Ohio State University (OSU),Physics,"$36,000",1.79,2022-2023,1st,"$36,000",NaN,NaN,NaN,NaN
1442,University of Arizona (U of A),Physics,"$20,850",1.01,2022-2023,1st,NaN,"$21,750",NaN,$900,NaN
1521,Kansas State University (K-State),Physics,"$21,000",0.95,2022-2023,2nd,"$21,000",NaN,NaN,NaN,"Graduate Research Assistant, the group/mentor ..."
1652,Brandeis University,Physics,"$37,500",1.34,2022-2023,1st,"$37,500",NaN,NaN,NaN,NaN
1729,University of Florida (UF),Physics,"$23,600",1.04,2022-2023,2nd,"$25,000",NaN,NaN,"$1,400",NaN
1744,Massachusetts Institute of Technology (MIT),Physics,"$46,900",1.68,2022-2023,1st,"$46,900",NaN,NaN,NaN,NaN
1779,Stanford University (SU),Physics,"$51,108",1.78,2023-2024,1st,"$51,108",NaN,NaN,NaN,NaN
1794,University of Oklahoma (OU),Physics,"$24,000",1.19,2022-2023,5th,"$24,000",NaN,NaN,NaN,NaN
1814,University of South Florida (UCF),Physics,"$21,800",0.99,2022-2023,1st,"$24,000",NaN,NaN,"$2,200",All PhDs at USF needs to pay an additional of ...
1858,Case Western Reserve University,Physics,"$27,920",1.40,2022-2023,3rd,"$28,000",NaN,NaN,$80,NaN
1859,Case Western Reserve University,Physics,"$27,920",1.40,2022-2023,3rd,"$28,000",NaN,NaN,$80,NaN
1891,University of Texas - Austin (UT),Physics,"$32,000",1.40,2022-2023,4th,"$32,000",NaN,NaN,NaN,NaN
1957,University of California - Berkeley,Physics,"$44,958",1.62,2023-2024,1st,NaN,"$44,958",NaN,NaN,NaN
1972,Boston College (BC),Physics,"$34,000",1.22,2023-2024,1st,"$34,000",NaN,NaN,NaN,NaN
2027,University of Washington (UW),Physics,"$34,000",1.46,2022-2023,2nd,"$35,000",NaN,NaN,"$1,000",NaN
2040,Duke University (DU),Physics,"$38,600",1.74,2023-2024,1st,"$38,600",NaN,NaN,NaN,NaN
2068,CUNY Graduate School and University Center,Physics,"$31,000",1.04,2022-2023,1st,"$31,000",NaN,NaN,NaN,NaN
2116,Georgetown University,Physics,"$34,492",1.12,2023-2024,1st,NaN,"$34,492",NaN,NaN,NaN
2127,Arizona State University (ASU),Physics,"$23,000",1.04,2023-2024,1st,"$24,000",NaN,NaN,"$1,000","seems low , more than 1/2 your pay will go to ..."

In [53]:
df_recent = df_recent.dropna(subset=['Department'])
df_recent['Overall Pay'] = df_recent['Overall Pay'].astype(str).str.replace('[$,]', '', regex=True).astype(float)

In [55]:
df_recent['Overall Pay'] = pd.to_numeric(df_recent['Overall Pay'], errors='coerce')

# Drop rows where "Overall Pay" is negative or NaN
df_recent = df_recent[df_recent['Overall Pay'] >= 0]